#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>

&pinctrl {
    pwm0_motor_default: pwm0_motor_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 1, 1)>;
        };
    };
    pwm0_motor_sleep: pwm0_motor_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 1, 1)>;
        };
    };
    spi1_sensor_default: spi1_sensor_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 4)>,
                    <NRF_PSEL(SPIM_MISO, 1, 3)>;
        };
    };

    spi1_sensor_sleep: spi1_sensor_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 4)>,
                    <NRF_PSEL(SPIM_MISO, 1, 3)>;

            low-power-enable;
        };
    };
};

&pwm0 {
    pinctrl-0 = <&pwm0_motor_default>;
    pinctrl-1 = <&pwm0_motor_sleep>;
    pinctrl-names = "default", "sleep";
};

&spi1 {
        compatible = "nordic,nrf-spi";
        status = "okay";
        cs-gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
        pinctrl-0 = <&spi1_sensor_default>;
        pinctrl-1 = <&spi1_sensor_sleep>;
        pinctrl-names = "default", "sleep";
        sensor_pressure: sensor_pressure@0 {
                compatible = "vnd,spi-device";
                reg = <0>;
                spi-max-frequency = <800000>;

                spi-cs-setup-delay-ns = <2500>;
                spi-cs-hold-delay-ns = <100>;
        };
};
